@media screen and (max-width: 1600px)
   .cat .pop__item 
      width: 18.8%
@media screen and (max-width: 1500px)
   .pop__pic
      height: 300px
   .pop-arr
      left: -10px
      top: 26%
   .pop .swiper-button-next4
      right: -10px
   .cat .pop__item 
      width: 18.7%
@media screen and (max-width: 1400px)
   .nav__ul
      margin-right: 27px
   .nav__form
      max-width: 380px
   .footer__content
      margin-left: 50px
   .cat .pop__item 
      width: 18.6%
@media screen and (max-width: 1300px)
   .footer__item:last-child
      max-width: 250px
   .nav__form
      max-width: 280px
   .nav__ul
      margin-right: 35px
   .art__name
      font-size: 14px
   .cat .pop__item 
      width: 18.49%
@media screen and (max-width: 1199px)
   .nav__top p
      font-size: 10px
   .nav__top
      padding: 5px 0
   .nav__form
      display: none
   .nav__content
      display: none
   .menu-btn 
      width: 48px
      height: 24px
      position: absolute
      right: 26px
      top: 59px
      z-index: 11
      overflow: hidden
   .menu-btn span 
      width: 38px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: $black
      transition: all 0.5s
      margin-left: 5px
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 48px
      height: 2px
      margin-left: 0
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 24px
      height: 2px
      margin-left: 12px
   .menu 
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 40px 
      background-color: white
      transform: translateX(-100%)
      transition: transform 0.5s
      z-index: 10
      overflow: hidden
      .nav__form
         display: block
         margin: 0 auto 30px
      .nav__flex 
         display: flex
         justify-content: center
      .nav__ul
         margin: 40px auto  0
         text-align: center
         width: 100%
         li
            margin: 0 auto 25px
            justify-content: center
            img
               display: none
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      position: fixed
      right: 30px
      top: 33px
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
      background-color: $black
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
      background-color: $black
   .menu-btn, .menu
      display: block
   .nav__bottom
      padding: 12px 0
   h1 
      font-size: 68px
   .footer__box
      flex-direction: column
      align-items: center
   .footer__left p
      text-align: center
      margin-bottom: 20px
   .footer__form
      margin-bottom: 25px
   .footer__socials
      justify-content: center
   .footer__content 
      margin-left: 0
      margin-top: 60px
   .header__wrap
      padding: 100px 0 180px
   .footer__name
      margin-bottom: 25px
   .tabs__nav a
      margin-right: 60px
   .cat .pop__item:nth-child(5n)
      margin-right: 20px
   .cat .pop__item
      margin-right: 20px
      width: 23.2%
   .cat .pop__item:nth-child(4n)
      margin-right: 0
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   h1 
      font-size: 56px
      line-height: 100%
   .marquee img
      margin-right: 60px
   .header__wrap 
      padding: 72px 0 145px
   .logos__item p 
      font-size: 12px
      margin-top: 4px
      line-height: 17px
   .info__video
      left: 0
      top: 0
   .info__text 
      line-height: 39px
      font-size: 25px
      span 
         font-size: 40px
   .cat .pop__item:nth-child(4n)
      margin-right: 20px
   .cat .pop__item
      margin-right: 20px
      width: 31.2%
      margin-bottom: 20px !important
   .cat .pop__item:nth-child(3n)
      margin-right: 0px
   .cat__show
      margin-left: 40px
   .cat__bottom
      flex-direction: column
      margin-top: 40px
   .cat__nav
      position: relative
      top: 0
      margin-top: 40px
@media screen and (max-width: 767px)
   .footer__content
      flex-direction: column 
      align-items: center
   .footer__item 
      text-align: center
      margin-bottom: 40px
   .footer__com 
      margin: 50px auto 0
      justify-content: center
   .art .swiper44
      overflow: hidden
   .art__content
      width: 100%
   .pop__content
      text-align: center
   .tabs__nav
      overflow-x: auto
      overflow-y: hidden
      padding-bottom: 10px
      justify-content: flex-start
      a 
         white-space: nowrap
         margin-right: 60px
   .tabs__nav:after
      display: none
   .logos__row
      flex-wrap: wrap 
      justify-content: center
   .logos__item
      margin: 20px
   .nav__list li a
      font-size: 13px
   .page h1 
      font-size: 28px
      line-height: 38px
      text-align: center
   .bread
      margin-bottom: 30px
   .cat__top 
      margin: 28px 0 25px
      flex-direction: column
   .cat__right
      flex-direction: column
   .cat .style1 
      right: 0
      margin: 25px 0
   .cat .pop__item
      width: 100% !important
      margin-bottom: 40px !important
      margin-right: 0 !important
   .cat__show
      margin-left: 0
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mob 
      display: block
   .ul 
      flex-direction: column !important
      li 
         margin: 0 auto 40px !important
         width: 100% !important
   .nav__top p
      font-size: 8px
   .nav__logo
      width: 100px
      position: relative
      top: 2px
      img 
         width: 100%
         height: 100%
         object-fit: contain
   .menu-btn 
      right: 13px
      top: 48px
   .nav__list
      overflow-x: auto
      overflow-y: hidden
      padding-bottom: 10px
      justify-content: flex-start
      li
         margin-right: 40px
         &:last-child
            margin-right: 0
   .menu
      padding-top: 80px
   h1 
      font-size: 40px
   .header__text 
      margin: 15px 0 28px
      line-height: 26px
      font-size: 16px
   .header__wrap 
      padding: 40px 0 84px
   .btn 
      font-size: 13px
   .header__btn 
      width: 140px
      height: 37px
   .marquee img
      margin-right: 25px
      animation: marquee 0s infinite linear
      -webkit-animation: marquee 0s infinite linear
   .marquee
      animation: marquee 10s infinite linear
      -webkit-animation: marquee 10s infinite linear
      margin: 30px 0 40px
   .logos
      padding-bottom: 20px
   .pop
      padding: 20px 0 50px
   h2 
      font-size: 26px
      line-height: 35px
   .tabs__nav
      margin-top: 30px
   .tabs__nav a
      margin-right: 40px
   .pop .swiper4
      margin-top: 30px
   .pop__name 
      font-size: 14px
      margin-bottom: 12px
      line-height: 19px
   .pop__info, .pop__text
      font-size: 13px
   .pop .swiper-pagination4
      margin-top: 40px
   .pop-arr
      display: none
   .pop__pic
      height: auto
   .info 
      padding: 40px 0 27px
      background: url(/img/info.png) no-repeat -23px center/cover
   .info__text 
      line-height: 33px
      font-size: 21px
      margin-bottom: 20px
   .info__text span
      font-size: 30px
   .info__video .svg 
      width: 160px
   .info__round
      width: 95px
   .info__video 
      margin-top: 25px
   .art__arrows
      display: none
   .art .swiper44 .swiper-pagination44
      display: flex
      justify-content: center
      margin-top: 40px
   .art__data span
      font-size: 18px
   .art__data
      font-size: 11px
      line-height: 15px
      left: 10px
      top: 15px
   .art__content
      margin-left: 40px
   .art__name 
      margin: 12px 40px 20px 0
   .art .swiper44 .swiper-slide
      height: auto
   .art 
      padding: 40px 0 120px
      .container
         position: relative
   .art__link
      margin-left: 0 
      position: absolute
      bottom: -80px
      left: 50%
      margin-left: -93px
   .footer 
      padding: 40px 0 20px
   .footer__left p
      line-height: 23px
      font-size: 14px
   .footer__content
      margin-top: 40px
   .footer__text 
      font-size: 12px
      line-height: 22px
   .footer__tel
      font-size: 12px
   .footer__mail
      font-size: 12px
   .footer__list li a
      font-size: 12px
   .footer__list li
      margin-bottom: 10px
   .footer__name
      margin-bottom: 20px
   .footer__item
      margin-bottom: 30px
   .art h2
      margin-right: 0
   .art .swiper44
      margin-top: 25px
   .cat__nav li
      margin-right: 25px
   .cat__content
      padding-bottom: 60px
   .menu2.active
      width: 100%
   .menu-btn2.active
      left: inherit
      right: 20px
   .page h1 
      font-size: 25px
      line-height: 34px


